body{
    min-height: 100vh;
    display:flex; 
    justify-content: center;
    align-items: center;
    text-transform: capitalize; 
    font-family: 'Pacifico', Helvetica, sans-serif;
    background-image: url('https://i.imgur.com/l0E9j6C.jpg');
    color: #FCD12A;
}

#btn{
    border: 5px solid black;
    border-radius: 10px;
    font-size: 40px;
    font-family: 'Pacifico', Helvetica, sans-serif;
    text-transform: capitalize;
    background-color:#E3B778;
    cursor: pointer; 
    outline: none;
}

#btn:hover{
    background-color: coral;
}

#textChanger{
    font-size: 60px;
}

.container{
    text-align: center;
}

#text {
    font-size: 80px; 
}

blockquote {
    border-left: 15px solid #063b00;
    padding: 0.5rem; 
    margin: 1.5rem; 
    font-size: 40px;
}

#authorQuote{
  font-size: 35px;
    
}