body{
    min-height: 100vh;
    display:flex; 
    justify-content: center;
    align-items: center;
    text-transform: capitalize; 
    font-family: 'IBM Plex Serif', serif;
}

.hexBtn{
    padding: 10px;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 40px;
    text-transform: capitalize;
    background-color:#9E4244;
    cursor: pointer; 
    outline: none;
}

.hexBtn:hover{
    background-color: coral;
}

.hexColor{
 font-size: 30px;
}

.container{
    text-align: center;
}

.hex {
    font-size: 50px; 
}