*{
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: lightcoral;
    border-radius: 5px;
    box-shadow: 0 0 10px lightsalmon;
    overflow: hidden;
    width: 600px;
    max-width: 100%;
}

#quiz-header {
    padding: 2rem;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    background-color: lightgrey;
    display: block;
    width:100%;
    padding:1rem;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: darkgray ;
}

h1{
    margin: 0;
}

ul li {
    margin: 1rem 0;
    font-size: 1.2rem;
}

ul li label {
    cursor: pointer;
}